@{
    ViewData["Title"] = "سالن‌های برگزاری";
}

<h4 class="section-title">
    نمایش برنامه سالن‌ها
</h4>

<div id="p1">
    <div class="d-flex align-items-center justify-content-between mb-3 gap-2">
        <div class="text-nowrap fw-bold">انتخاب روز</div>
        <div class="input-group border rounded-2" style="flex-wrap: initial; height: 38px;">
            <span id="dtp1" class="border-0 input-group-text cursor-pointer"
                style="border-radius: 4px; padding: 0 !important;">
                <span class="fa-regular fa-calendar d-flex align-items-center px-3"></span>
            </span>
            <span data-name="dtp1-text" class="border-0 form-control d-flex align-items-center" />
        </div>
    </div>

    <div class="text-nowrap fw-bold">انتخاب سالن</div>
    <div class="mb-3">
        @foreach (var item in ViewBag.venueHalls)
        {
            <div class="form-check">
                <input class="form-check-input" type="radio" name="venueHall" id="venueHall_@item.Id" value="@item.Id">
                <label class="form-check-label" for="venueHall_@item.Id">
                    @item.VenueHall
                </label>
            </div>
        }
    </div>

    <button type="button" class="btn btn-secondary w-100" id="showProgram">مشاهده برنامه</button>
</div>

<div class="d-none" id="programs"></div>
@* <div class="table-container">
    <table class="table table-striped">
        <thead style="white-space: nowrap;">
            <tr>
                <th>
                    ردیف
                </th>
                <th>
                    نام سالن
                </th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.venueHalls)
            {
                i += 1;
                <tr onclick="window.location.href ='/VenueHall/@item.Id'">
                    <td>
                        @(((1 * 25) - 25) + i)
                    </td>
                    <td>
                        @item.VenueHall
                    </td>

                    
                </tr>
            }
        </tbody>
    </table>
</div> *@

@section styles {
    <link href="~/lib/datetimepicker 4.1.1/mds.bs.datetimepicker.style.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/lib/datetimepicker 4.1.1/mds.bs.datetimepicker.js"></script>
    <script>
        $(function () {
            const dtp1 = new mds.MdsPersianDateTimePicker(document.getElementById('dtp1'), {
                targetTextSelector: '[data-name="dtp1-text"]',
                modalMode: false,
            });
        });

        $('#showProgram').on('click', function () {
            const selectedDate = $.trim($('[data-name="dtp1-text"]').html());
            const selectedVenueHall = $('input[name="venueHall"]:checked').val();

            if (!selectedDate || !selectedVenueHall) {
                $.alert('لطفا تاریخ و سالن را انتخاب کنید.');
                return;
            }

            $.ajax({
                url: `/api/program/hall/${selectedVenueHall}/?date=${selectedDate}`,
                type: 'GET',
                beforeSend: function () {
                    $('#programs').html($('#loader').html()).removeClass('d-none');
                },
                contentType: 'application/json',
                data: JSON.stringify({ date: selectedDate, venueHallId: selectedVenueHall }),
                success: function (data) {
                    $('#programs').html(data);
                    $('#programs').prepend(selectedDate + ' - ' + $('[for="venueHall_' + selectedVenueHall + '"]').html());
                    $('#programs').append('<div class="mt-3 d-flex align-items-center gap-2"><button type="button" class="btn btn-primary w-100" onclick="goNext()">ادامه</button><button type="button" class="btn btn-secondary w-100" onclick="ret()">بازگشت</button></div>');
                    $('#programs').removeClass('d-none');
                    $('#p1').addClass('d-none');
                },
                error: function (xhr, status, error) {
                    console.error(error);
                    $.alert('خطا در بارگذاری برنامه‌ها.');
                }
            });
        });

        function ret() {
            $('#programs, #p1').toggleClass('d-none');
        }

        function goNext() {
            if (!$('input[name="options"]:checked').val()) {
                $.alert('لطفا یک گزینه را انتخاب کنید.');
            } else {
                const selectedOption = $('input[name="options"]:checked').val();
                window.location.href = `/Screen/Show${selectedOption}/?id=${$('#lectureId').val()}`;
            }
        }
    </script>
}