@{
    var Slideshow = ViewBag.Images;
}

<div class="slideshow-container">
    @foreach (var item in Slideshow)
    {
        <div class="mySlides fade">
            <img src="/Slideshow/@item" class="w-100" draggable="false" style="object-fit: cover;" />
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        showSlide(0); // Show the first slide initially
        setInterval(nextSlide, 7000); // Change slide every 7 seconds
    });

    var currentIndex = 0;
    var $slides = $('.slideshow-container .mySlides');

    function showSlide(index) {
        $slides.each(function (i) {
            $(this).attr('class', (i === index) ? 'mySlides fade position-absolute top-0 show' : 'mySlides fade position-absolute top-0');
        });
    }

    function nextSlide() {
        currentIndex = (currentIndex + 1) % $slides.length;
        showSlide(currentIndex);
    }
</script>
