@{
    var Slideshow = ViewBag.Images;
}

<div class="slideshow-container">
    @foreach (var item in Slideshow)
    {
        <div class="mySlides fade">
            <img src="/Slideshow/@item" class="w-100 vh-100" draggable="false" style="object-fit: cover;" />
        </div>
    }
</div>
