@{
    ViewData["Title"] = ViewBag.ProgramName;
    var ProgramConductors = ViewBag.ProgramConductors;
    var ProgramConductorsId = ViewBag.ProgramConductorsId;
    var pc = Html.Raw(System.Text.Json.JsonSerializer.Serialize(ProgramConductors, new
    System.Text.Json.JsonSerializerOptions
    { ReferenceHandler = System.Text.Json.Serialization.ReferenceHandler.Preserve }));
}


<div class="w-100 d-flex justify-content-center align-items-center bg-primary position-absolute end-0 top-0 vh-100"
    style="z-index: 1;">
    <div class="container">
        <div class="lecture-container">
            <div class="lecture-details">
                <h1 class="lecture-title">@ViewBag.ProgramName</h1>
                <div class="fs-2 text-center mb-3" id="Name"></div>
                <p><strong>زمان باقیمانده:</strong> <span id="time"></span></p>
                <p class="text-justify" id="Description"></p>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/show.js"></script>
    <script>
        $(document).ready(function () {
            if ('@(ProgramConductorsId == 0)' == 'True') {
                $.alert('زمان برگزاری به پایان رسیده است!');
                return;
            }
            getProgramConductors(@pc);
        });
    </script>
}