@{
    ViewData["Title"] = ViewBag.ProgramName;
    var ProgramConductors = ViewBag.ProgramConductors;
    var ProgramConductorsId = ViewBag.ProgramConductorsId;
    var pc = Html.Raw(System.Text.Json.JsonSerializer.Serialize(ProgramConductors, new
    System.Text.Json.JsonSerializerOptions
    { ReferenceHandler = System.Text.Json.Serialization.ReferenceHandler.Preserve }));
}


<div class="w-100 bg-white position-absolute end-0 top-0 vh-100 ltr d-flex justify-items-center align-items-center"
    style="z-index: 1;">
    <div class="mx-4 w-100">
        <div class="row">
            <div class="col-4">سالن</div>
            <div class="col-8">
                <div id="oldPrograms" class="row"></div>
            </div>
        </div>

        <div class="my-3">
            <div class="align-items-center justify-content-center d-flex gap-2">
                <div class="mx-2">
                    <div class="live-indicator">
                        <span class="red-dot"></span>
                    </div>
                </div>
                <div class="lecture-container w-100">
                    <div class="lecture-details">
                        @* <h1 class="lecture-title">@ViewBag.ProgramName</h1> *@
                        <div class="fs-2 text-center mb-3" id="Name"></div>
                        <p class="text-center"><span id="times"></span></p>
                        <p><strong><span id="time">0:00:00</span></strong></p>
                        <p class="text-justify" id="Description"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4"><span id="clock"></span></div>
            <div class="col-8">
                <div id="nextPrograms" class="row"></div>
            </div>
        </div>
    </div>
    <div class="text-center w-100 position-fixed bottom-0 start-0 border-top p-2 bg-white">The 10th Iranian
        Cardiovascular Joint Congress</div>
</div>

@section scripts {
    <script src="~/lib/microsoft-signalr/6.0.0/signalr.min.js"></script>
    <script src="~/js/show.js"></script>
    <script>
        $(document).ready(function () {
            @* if ('@(ProgramConductorsId == 0)' == 'True') {
                $.alert('زمان برگزاری به پایان رسیده است!');
                return;
            } *@
                getProgramConductors(@pc);

            // SignalR connection setup
            const connection = new signalR.HubConnectionBuilder()
                .withUrl("/signalrHub")
                .build();

            connection.on("OnConnected", (connectionId) => {
                // console.log("Connected with ID:", connectionId);
                $.post(`/api/SignalR/group/add/${connectionId}/Show1`)
                    .done(function (response) {
                        console.log("Connection ID added to a group");
                    })
                    .fail(function (error) {
                        console.error("Error sending connection ID to server:", error);
                    });
            });

            connection.start()
                .then(() => console.log("Connection started"))
                .catch(err => console.error("Error while starting connection:", err));

            connection.on("ReceiveMessage", function (message) {
                console.log("New message received: ", message);
                if (message == "Reload") {
                    console.log("برنامه جدیدی برای این روز ثبت شده است");
                    window.location.reload();
                } else {
                    window.location.href = message;
                }
                // $.alert("New message received: " + message);
                // You can add logic here to update the UI or notify the user
            });

            connection.onclose(() => {
                // $.alert("Connection lost. Please check your network and try again.", function () {
                //     location.reload();
                // });

                setTimeout(() => {
                    connection.start()
                        .then(() => console.log("Reconnected"))
                        .catch(err => console.error("Error while reconnecting:", err));
                }, 5000); // Retry every 5 seconds
            });
        });
    </script>
}