@{
    ViewData["Title"] = ViewBag.ProgramName;
    var ProgramConductors = ViewBag.ProgramConductors;
    var ProgramConductorsId = ViewBag.ProgramConductorsId;
    var pc = Html.Raw(System.Text.Json.JsonSerializer.Serialize(ProgramConductors, new
    System.Text.Json.JsonSerializerOptions
    { ReferenceHandler = System.Text.Json.Serialization.ReferenceHandler.Preserve }));
}

<div class="w-100 d-flex justify-content-center align-items-center bg-white position-absolute end-0 top-0 vh-100"
    style="z-index: 1;">
    <div class="container">
        <h1 class="lecture-title text-primary">@ViewBag.ProgramName</h1>
        <div class="lecture-container">
            <div class="lecture-details">
                @* <img src="@(Model.EventsPerson.Person?.Image != null ? "https://eventis.ir/files/" + Model.EventsPerson.Person?.Image : "/img/noperson.jpg")"
                class="card-img-top"> *@
                <div class="fs-2 text-center" id="Name"></div>
            </div>
        </div>
        <p class="text-justify" id="Description"></p>
        <p><strong>زمان باقیمانده:</strong> <span id="time"></span></p>
    </div>
</div>

@section scripts {
    <script src="~/js/show.js"></script>
    <script>
        $(document).ready(function () {
            if ('@(ProgramConductorsId == 0)' == 'True') {
                $.alert('زمان برگزاری به پایان رسیده است!');
                return;
            }
            getProgramConductors(@pc);
        });
    </script>
}