@model HeartHotel.Models.User

@{
    ViewData["Title"] = "Create";
    ViewData["Active"] = "Users";
}

<h1>ایجاد کاربر</h1>

@* <h4>User</h4> *@
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @* <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div> *@
    <div class="form-group">
        <label asp-for="Firstname" class="control-label">نام</label>
        <input asp-for="Firstname" class="form-control" />
        <span asp-validation-for="Firstname" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="Lastname" class="control-label">نام خانوادگی</label>
        <input asp-for="Lastname" class="form-control" />
        <span asp-validation-for="Lastname" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <label asp-for="Mobile" class="control-label">شماره موبایل</label>
        <input asp-for="Mobile" class="form-control" />
        <span asp-validation-for="Mobile" class="text-danger"></span>
    </div>
    @* <div class="form-group">
                <label asp-for="TelegramId" class="control-label"></label>
                <input asp-for="TelegramId" class="form-control" />
                <span asp-validation-for="TelegramId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div> *@
    <div class="form-group w-100 d-flex justify-content-between align-items-center mt-3 gap-2">
        <input type="submit" value="ایجاد" class="btn btn-primary w-100" />
        <a asp-action="Index" class="btn btn-secondary w-100">بازگشت</a>
    </div>
</form>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
